---
import "../../global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>DevLevelUp</title>
  </head>
  <body class=" bg-[#FFF8F1]">
    <slot />
  </body>
</html>
