
---

const plaformName = "Learing dz"

---



<nav class=" p-3 px-4 flex flex-row justify-around items-center">
    <div class=" flex flex-row items-center gap-2">
        <img src="../../public/logo.svg" width={30} />
        <span class="  text-gray-800 font-semibold text-xl">
            {
                plaformName
            }

        </span>
    </div>
    <div></div>
    
    <div></div>
    <div></div>
    <div></div>
    <section class="flex flex-row gap-3 ">
        <div class=" flex flex-row  items-center gap-2 text-gray-700 ">
            <a class=" hover:text-gray-900 hover:underline"
            href="/"
            
            >
                Home
            </a>
            <a 
            href="/about"
            class=" hover:text-gray-900 hover:underline">
                About
            </a>
        </div>
        <div>
            <button
            class=" rounded-lg outline-none border border-gray-200 bg-orange-100 text-gray-800
            cursor-pointer px-3 py-2
            "
            
            
            >
                Log In
            </button>
            <button

            class=" rounded-lg outline-none  bg-orange-500 text-gray-100
            cursor-pointer px-3 py-2
            "            
            >
                Sign Up
            </button>
        </div>
    </section>

</nav>