@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphic {
  background: #e3e6ed;
  border-radius: 1rem;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}